.section{
    display: flex;
    flex-direction: row;
}
.section>p{
    flex: 1;
    font-size: 14px;
    color: black;
}
.section p:nth-child(1){
    flex: 2;
    order: 2;
    background-color:white;
}
.section p:nth-child(2){
    flex: 3;
    order: 3;
    background-color: black;
    color:white;
}
.section p:nth-child(3){
    flex: 1;
    order: 1;
    background-color:black;
    color: white;
}
.section p:nth-child(4){
    flex: 5;
    order: 5;
    background-color:black;
    color: white;
}
.section p:nth-child(5){
    flex: 4;
    order: 4;
    background-color: white;
}