section{
    display: flex;
    flex-direction: row;
    gap: 2%;
}


.section > p {
    font-size: 14px;
    color: gray;
    flex: 1;
    /*border: double 2px #41388D;
    background-color: rgb(2, 2, 2);*/

}

.section p:nth-child(1){
    background-color: blue;
    flex: 2;
    order: 2;
}
.section .p2{
    background-color: rgb(238, 255, 0);
    flex: 3;
    order: 3;
}

.section .p3{
    background-color: rgb(13, 223, 160);
    flex: 1;
    order: 1;
}

.section .p4{
    background-color: rgb(202, 8, 228);
    flex: 5;
    order: 5;
}
.section .p5{
    background-color: rgb(151, 7, 7);
    flex: 4;
    order: 4;
}
