.section p {
    font-size: 14px;
    color: rgb(90, 87, 89);

}


section {
    display: flex
    
}

section .p1 {
    flex: 2;
    background-color: aqua;
    order: 2
}

section .p2 {
    flex: 3;
    background-color: blueviolet;
    order: 3
}

section .p3 {
    flex: 1;
    background-color: rgb(233, 219, 24);
    order: 1
}

section .p4 {
    flex: 5;
    background-color: rgb(18, 199, 18);
    order: 5
}

section .p5 {
    flex: 4;
    background-color: antiquewhite;
    order: 4
}







