body {
    font-size: 62.5%;
    background-color: black;
}

.section {
    display: flex;
    flex-direction: row;
}

.section > p {
    font-size: 1.4em;
    color: gray;
    flex: 1;
}

.section .p1 {
    flex: 2;
    order: 2;
    background-color: palevioletred;
    color: rgb(139, 12, 54);
}

.section .p2 {
    flex: 3;
    order: 3;
    background-color: blueviolet;
    color: rgb(60, 1, 83);
}

.section .p3 {
    flex: 1;
    order: 1;
    background-color: lightskyblue;
    color: rgb(0, 126, 126);
}

.section .p4 {
    flex: 5;
    order: 5;
    background-color: rgb(250, 250, 126);
    color: rgba(75, 70, 10, 0.486);
}

.section .p5 {
    flex: 4;
    order: 4;
    background-color: rgb(150, 255, 150);
    color: green;
}