.section{
    font-size: 14px;
    color: gray;
    display: flex;
    flex-direction: row;
}
.section .p1{
    flex:2;
    order:2;
    background-color: aqua;
}
.section .p2{
    flex:3;
    order:3;
    background-color: blueviolet;
}
.section .p3{
    flex:1;
    order:1;
    background-color: brown;
}
.section .p4{
    flex:5;
    order:5;
    background-color: chartreuse;
}
.section .p5{
    flex:4;
    order:4;
    background-color: chocolate;
}